<div class="row">
    <div class="col-2"></div>
    <div class="col-2">

        <h3> Title:</h3>

    </div>
    <div class="col-4">
        <h3> Get All Notes </h3>
        Returns a list of all current notes posted by User
    </div>
    <div class="col-2"></div>
</div>
<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">

        <h3> URL:</h3>

    </div>
    <div class="col-4">

        <b style="color:red">/todos</b>
    </div>
    <div class="col-2"></div>
</div>
<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <h3> Method:</h3>
    </div>
    <div class="col-4">

        <b>GET</b>
    </div>
    <div class="col-2"></div>
</div>
<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">

        <h3> Data Params:</h3>

    </div>
    <div class="col-4">
        <pre>

               {
                    result: [
                    {
                        _id: "5ae2ceec1239b21f988c7e9e",
                        title: "study",
                        content: "study for internals 3 days to go",
                        createdAt: "2018-04-27T07:19:08.868Z",
                        updatedAt: "2018-04-27T07:19:08.868Z",
                        __v: 0
                    },
                    {
                        _id: "5ae2f1c25a12fa00140261fc",
                        title: "Heroku",
                        content: "Deploy project on heroku",
                        createdAt: "2018-04-27T09:47:46.446Z",
                        updatedAt: "2018-04-27T09:47:46.446Z",
                        __v: 0
                    }
                ]
                }
           </pre>

    </div>
    <div class="col-2"></div>
</div>