<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <h3> Title:</h3>
    </div>
    <div class="col-4">
        <h3> Get Note by Id </h3>
        Returns a note by matching id
    </div>
    <div class="col-2"></div>
</div>
<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <h3> URL:</h3>
    </div>
    <div class="col-4">
        <b style="color:red">/todos/id</b>
        <br/> Example:
        <b style="color:red">/todos/5ae2f1c25a12fa00140261fc</b>
    </div>
    <div class="col-2"></div>
</div>
<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <h3> Method:</h3>
    </div>
    <div class="col-4">
        <b>GET</b>
    </div>
    <div class="col-2"></div>
</div>
<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <h3> URL Params:</h3>
    </div>
    <div class="col-4">
        <b>Required:</b>
        <br/> id
        <br/> Example: id = 5ae2f1c25a12fa00140261fc
    </div>
    <div class="col-2"></div>
</div>
<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <h3> Data Params:</h3>
    </div>
    <div class="col-4">
        <pre>

               {
                    result: [
                    {
                        _id: "5ae2f1c25a12fa00140261fc",
                        title: "Heroku",
                        content: "Deploy project on heroku",
                        createdAt: "2018-04-27T09:47:46.446Z",
                        updatedAt: "2018-04-27T09:47:46.446Z",
                        __v: 0
                    }
                ]
                }
           </pre>

    </div>
    <div class="col-2"></div>
</div>